@import 'swiper/css' layer(base);
@import 'swiper/css/navigation' layer(base);
@import 'swiper/css/pagination' layer(base);

@import 'tailwindcss';
@theme {
  --color-primary-container: #32D2F8;
};
@plugin "daisyui" {
  themes: winter;
};
@plugin "daisyui/theme" {
  name: "winter";
  default: true;
  prefersdark: false;
  color-scheme: "light";
  --color-base-100: oklch(100% 0 0);
  --color-base-200: oklch(97.466% 0.011 259.822);
  --color-base-300: oklch(93.268% 0.016 262.751);
  --color-base-content: oklch(41.886% 0.053 255.824);
  --color-primary: #00677d;
  --color-primary-content: oklch(98% 0.003 247.858);
  --color-secondary: #0081FE;
  --color-secondary-content: oklch(98% 0.003 247.858);
  --color-accent: #32D2F8;
  --color-accent-content: oklch(98% 0.003 247.858);
  --color-neutral: oklch(19.616% 0.063 257.651);
  --color-neutral-content: oklch(83.923% 0.012 257.651);
  --color-info: #0000ee;
  --color-info-content: oklch(98% 0.003 247.858);
  --color-success: #008000;
  --color-success-content: oklch(98% 0.003 247.858);
  --color-warning: #ff8000;
  --color-warning-content: oklch(98% 0.003 247.858);
  --color-error: #fa0000;
  --color-error-content: oklch(98% 0.003 247.858);
  --radius-selector: 1rem;
  --radius-field: 0.5rem;
  --radius-box: 1rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 0;
  --noise: 0;
};

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

@utility alert {
  @apply flex my-2 justify-center font-semibold;
}

@utility alert-md {
  @apply py-3 rounded-lg;
}

@utility alert-sm {
  @apply py-1 rounded-md text-xs;
}

@utility alert-success {
  color: var(--fallback-suc, oklch(var(--su) / var(--tw-text-opacity)));
  --alert-bg: var(--fallback-su, oklch(var(--su) / 0.4));
}

@utility alert-warning {
  color: var(--fallback-wac, oklch(var(--wa) / var(--tw-text-opacity)));
  --alert-bg: var(--fallback-wa, oklch(var(--wa) / 0.4));
}

@utility alert-error {
  @apply text-red-200;
}

@utility label-text-lg {
  @apply text-lg;
}

@utility label-text-alt-lg {
  @apply text-base;
}

@utility label-text-sm {
  @apply text-sm;
}

@utility label-text-alt-sm {
  @apply text-xs;
}

@utility card {
  @apply shadow-lg bg-white p-4;
}

h1 {
  font-size: 2.5rem;
  font-weight: 700;
}

h2 {
  font-size: 2rem;
  font-weight: 700;
}

h3 {
  font-size: 1.75rem;
  font-weight: 600;
}

h4 {
  font-size: 1.5rem;
  font-weight: 600;
}

h5 {
  font-size: 1.25rem;
  font-weight: 500;
}

h6 {
  font-size: 1rem;
  font-weight: 400;
}


/* Custom scrollbar for all scrollable elements */
::-webkit-scrollbar {
  width: 12px; /* Standard width */
  height: 12px; /* For horizontal scrollbars */
}

/* Scrollbar track (background) */
::-webkit-scrollbar-track {
  background: #f1f1f1; /* Light gray */
  border-radius: 10px;
}

/* Scrollbar thumb (draggable part) */
::-webkit-scrollbar-thumb {
  background: #888; /* Medium gray */
  border-radius: 10px;
  border: 3px solid #f1f1f1; /* Creates padding effect */
}

/* Hover effect on scrollbar thumb */
::-webkit-scrollbar-thumb:hover {
  background: #555; /* Darker gray on hover */
}

/* Firefox scrollbar */
* {
  scrollbar-width: thin; /* Makes it thinner */
  scrollbar-color: #888 #f1f1f1; /* thumb color + track color */
}

@keyframes fadeIn {
  
  0% {
    opacity: 0;
    scale: 1.3;
  }
  100% {
    opacity: 1;
    scale: 1;
  }
}